@using Orchard.Mvc.Html;

@{
    var siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);

    var title = Model.Title + WorkContext.CurrentSite.PageTitleSeparator + siteName;

    //Style.Include("bootstrap.min.css");
    Style.Include("custom.css");
    //Style.Include("bootstrap-theme.css");
    Style.Include("bootswatch.css");

    Script.Require("jQuery").AtHead();
    Script.Include("bootstrap.js").AtFoot();

}

<!DOCTYPE html>
<html lang="@WorkContext.CurrentCulture" class="no-js static @Html.ClassForPage()">
    <head>
         <title>@title</title>
        @Display(Model.Head)
        <style type="text/css">
            body {
                padding-top: 70px;
                list-style:none;
            }
        </style>
    </head>
    <body>
        <!--[if lt IE 7]>
    <p class="chromeframe">@T("You are using an outdated browser"). @Html.Link(T("Upgrade your browser today"), "http://browsehappy.com/")
        @T("or") @Html.Link(T("install Google Chrome Frame"), "http://www.google.com/chromeframe/?redirect=true") @T("to better experience this site").</p>
    <![endif]-->
        @Display(Model.Body) 
        @Display(Model.Tail)     
    </body>
</html>